<resources>
        <string name="google_maps_key_instructions" templateMergeStrategy="replace"><!--
    --></string>
    <string name="google_maps_key" templateMergeStrategy="preserve">SET UP YOUR KEY</string>
    <string name="google_place_api_key">SET UP YOUR KEY</string>
</resources>
